@import 'https://fonts.googleapis.com/css?family=Open+Sans';

body, html {
  height: 100%;
  font-family: "Open Sans"
}

p {
  color: white;
}

h1 {
  font-family: "Open Sans";
  font-size: 16em;
  color: white;
}

#intro {
  position: absolute;
  height: 100%;
  background-image: url('../images/intro-resized.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#intro img{
  border-radius: 200px;
  width: 20%;
}
