@import 'https://fonts.googleapis.com/css?family=Open+Sans';
body {

}

#intro {
  height: 100%;
  background-image: url("../images/intro-resized.jpg");
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#intro h1 {
  font-family: "Open Sans";
  color: white;
}
