@import 'https://fonts.googleapis.com/css?family=Open+Sans';

p {
  font-family: "Open Sans";
  color: white;
}

h1 {
  font-family: "Open Sans";
  font-size: 16em;
  color: white;
}

#intro {
  background-image: url('../images/intro-resized.jpg');
  padding: 0px 60px 0px 60px;
}

#intro img{
  border-radius: 200px;
  width: 20%;
}
